<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- changed code below -->
      <!-- Added the formsGroup directive -->
      <form [formGroup] = "signupForm" >
        <div class="form-group">
          <label for="username">Username</label>
            <!-- Added the formsControlName directive -->
          <input
            type="text"
            id="username"
            formControlName = "username"
            class="form-control">
        </div>
        <div class="form-group">
          <label for="email">email</label>
            <!-- Added the formsControlName directive -->
          <input
            type="text"
            id="email"
            formControlName = "email"
            class="form-control">
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <!-- Added the formsControlName directive -->
            <input
              type="radio"
              formControlName = "gender"
              [value]="gender"
            >
            {{ gender }} 
          </label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
